$color: #ff5757;
$alt_color: #5c7bb3;

#title{
    color: $color;
}

#title::selection {
    color: $color;
}

.row {
    a{
        background-color: $color;
    }

    a::selection {
        background-color: $color;
    }
}

ul {
    color: $color;
}

%icon {
    height: 50px;
    width: 50px;
}

%icon-text {
    display: inline;
    color: $color;
    vertical-align: middle;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#carousell {
    img {
        @extend %icon;
    }

    h3 {
        @extend %icon-text;
    }
}